@import './colors';
@import './fonts';
@import './predefined';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button {
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}
