#customInput {
  position: relative;

  input {
    font-size: 15px;
    height: 100%;
    padding: 6px;
    padding-left: 28px;
    width: 100%;
  }

  .pl-zero {
    padding-left: 6px;
  }

  .iconLeft {
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 23%;
  }

  .iconRight {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 23%;
  }
}
